.state-section {
  padding-bottom: 20px;
}

.state-section > h2 {
  font-size: 1.25rem;
}

.elements-list {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.list-item {
  margin-right: 10px;
  width: 200px;
}

.list-item > img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

@media (max-width: 425px) {
  .elements-list {
    flex-direction: column;
    margin: auto;
  }
  .list-item {
    margin: auto;
    margin-bottom: 10px;
  }
}
