:root {
  --main-books-color: hsl(45, 20%, 96%);
}

.book-item .card{
  align-self: center;
  max-width: 230px;
}

.book-item > img{
  display: block;
  height: 330px;
  max-width: 230px;
  width: auto;
  object-fit: cover;
  top: 0%;
  left: 50%;
  border-radius: 5px;
}

.book-item .card-body{
  max-width: 230px;
}

.book-item .card-title{
  
  font-size: 1.1rem;
  text-align: center;
}

.book-item .card-text{
  font-size: 0.9rem;
  text-align: center;
  margin: auto;
}

.card-game img{
  flex: 50% 100;
  object-fit: cover;
}

.card-game .card-body{
  flex: auto;
}
